.places__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    color: #AAA;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin-block-start: 0;
    margin-block-end: 0;
}